mixin bottom_block()
    - var title = "За 10 ЛЕТ успели создать около 400 сайтов, получить более 50 наград и стать лучшим веб-продакшн в Украине.";

    .container-bottom

        .scroll
            .scroll-line
                span Пришло время отчитаться

        .content
            .content-title= title

            .content-item
                | От идеи – к реальности. От двух студентов - энтузиастов веба до штата в 60 сотрудников. От шаблонов и HTML-сайтов до гибких высоконагруженных CMS-разработок. От одноэкранных «заглушек» до титанов веба. От робкой дизайнерской мечты к престижнейшим международным наградам. От крошечной хоум-студии до самого титулованного веб-продакшн в Украине. И хотите верьте, хотите нет – для нас это только начало! Короче, мы нехило поработали за эти 10 лет, а сегодня мы празднуем! <span>С ДНЕМ РОЖДЕНИЯ НАС! Принимаем поздравления от хороших людей.</span>

            .buttons
                .buttons-title Жми на кнопку
                .buttons-congrats
                    a(href="#" title="btn" alt="btn") Поздравляю!
                .buttons-congrats-more
                    a(href="#" title="btn" alt="btn") Очень сильно поздравляю!

