mixin grid()
	.grid
		.row
			.col-wd-12
				.col 12 Columns

			.col-wd-6
				.col 6 Columns
			.col-wd-6
				.col 6 Columns

			.col-wd-6.col-md-4
				.col 4 Columns
			.col-wd-6.col-md-4
				.col 4 Columns
			.col-wd-12.col-md-4
				.col 4 Columns

			.col-wd-6.col-md-3
				.col 3 Columns
			.col-wd-6.col-md-3
				.col 3 Columns
			.col-wd-6.col-md-3
				.col 3 Columns
			.col-wd-6.col-md-3
				.col 3 Columns

			.col-wd-6.col-md-4.col-sm-2
				.col 2 Columns
			.col-wd-6.col-md-4.col-sm-2
				.col 2 Columns
			.col-wd-6.col-md-4.col-sm-2
				.col 2 Columns
			.col-wd-6.col-md-4.col-sm-2
				.col 2 Columns
			.col-wd-6.col-md-4.col-sm-2
				.col 2 Columns
			.col-wd-6.col-md-4.col-sm-2
				.col 2 Columns

			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1
			.col-wd-3.col-md-2.col-sm-1
				.col 1