extends layout/main.pug

include ../blocks/grid/grid.pug
include ../blocks/header/header.pug
include ../blocks/content/content.pug
include ../blocks/nav-menu/nav-menu.pug
include ../blocks/footer/footer.pug

block title
    title Gennadii Remizov | FE developer

block pagecontent
    //- h1 Start Grid setup

    +grid()

    +header()

    +nav-menu()

    +content()

    +footer()